.CreateNodeBox {
  background: #444;
  color: #ccc;
  box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}

.CreateNodeBox input {
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  background: #444;
  color: #ccc;
  padding: 5px;
  border: 1px solid #777;
}

.CreateNodeBox ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 195px;
  overflow-y: scroll;
}

.CreateNodeBox li {
  padding: 5px;
  border: 1px solid #777;
}

.CreateNodeBox li:hover {
  background: #666;
}

.CreateNodeBox li b {
  color: #ccf;
  font-weight: normal;
}
