.FlashMessage {
  position: absolute;
  pointer-events: none;
  user-select: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  background: white;
  color: #222;
  opacity: 1;
}

.FlashMessage_fade-out {
  transition: opacity 1.5s ease-out;
  opacity: 0;
}
